*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container  {
    margin: 0px auto;
    max-width: 1200px;
}

ul li {
    list-style: none;
}


/* HEADER */

#header-img {
    height: 100vh;
    background-image: url('../hero.png');
    background-size: cover;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-left {
    font-size: 28px;
    color: white;
}

.menu-right {
    display: flex;
}

.menu-right > li {
   margin-left: 20px;
   font-size: 28px;
   color: white;
}

.content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content > p {
    font-size: 80px;
    color: white;
}