*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#box{
    display: flex;
    width:800px;
    height: 500px;
}

.boxleft{
    width: 30%;
    background-image: linear-gradient(0deg, rgb(58, 8, 241), rgb(159, 143, 245));

}

.boxright{
    padding: 0 40px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}




/* .boxleft{
    width:30%;
    height:700px;
    float:left;
    background-image: linear-gradient(0deg, rgb(58, 8, 241), rgb(159, 143, 245));
    color:aliceblue;
}


.boxright{
    width:70%;
    float:right;
    height:700px;
    margin-left:50px;
    
}

.boxleft-text1{
    padding:20px;
}

.boxright-text2{
    padding:20px;
    margin-left:-100px;
} */